{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": false,
    "jest": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "comma-dangle": ["error", "never"]
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
 ]
}
